input[type='text'] {
    width: 20px;
    text-align: center;
    
}

#numbers input {
    width: 35px;
    font-size: 25;
    font-weight: bold;
}

#content {
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#numbers {
	width: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    font-size: 25;
    font-weight: bold;
}

#numbers > div {
	width: 15px;
	text-align: center;
}

#wrap {position: relative}

#a, #b {
	position: absolute;
    text-align: center;
}

#submit {margin-top: 20px}